#nav-bar {
    width: 100%;
    height: 100px;
    position:relative;
    top: 0;
    background-color: var(--accent-color);
    border-bottom: var(--border-color) solid 5px;
    margin: 0;
}
#nav-bar > .nav-bar-entry {
    display: inline-block;
    height: 100%;
}
#nav-bar img {
    user-select: none;
    height: 100%;
}

#dark-mode-button {
    position: absolute;
    right: 0;
}

#nav-options {
    position: absolute;
    width: calc(100% - 200px);
    margin-left: 100px;
    padding: 0;
}
#nav-options > .nav-option {
    border-bottom: var(--border-color) solid 5px;
    display: inline-block;
    width: 25%;
    height: 100%;
    transition: border-bottom-color .1s, background-color .1s;
    position: relative;
    cursor: pointer;
    
    > .nav-option-label {
        font-size: min(40px, 3vw);
        user-select: none;
    }
}
#nav-options > .nav-option:hover {
    background-color: var(--button-hover-color);
    border-bottom-color: var(--button-hover-border-color);

    > .nav-option-label {
        transition: .1s;
        transform: rotate(-3deg) scale(1.1);
    }
}
@media (max-width: 800px) {
    #nav-bar {
        height: 50px
    }
    #nav-options {
        width: calc(100% - 100px);
        margin-left: 50px;
    }
}