/* === Colour scheme === */

body {
    --background-color: #fcc;
    --accent-color: #f99;
    --border-color: #d88;
    --button-hover-color: #fbb;
    --button-hover-border-color: #fdd;
    --foreground-color: #000;
    --shadow-color: #d88;
}
body.dark-mode {
    --background-color: #404;
    --accent-color: #202;
    --border-color: #505;
    --button-hover-color: #313;
    --foreground-color: #dbd;
    --shadow-color: #180018;
}

/* === Base styles === */

body {
    background-color: var(--background-color);
    background-image: url("../img/Background.svg");
    background-blend-mode: color-burn;
    background-size: 250px;
    background-attachment: fixed;
    color: var(--foreground-color);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.dark-mode {
    background-blend-mode: soft-light;
}

img {
    width: 100%;
}

a {
    color: var(--foreground-color)
}

/* === Main Text Content === */

#main-text-area {
    margin: 0 auto;
    width: min(90%, 1500px);
}

.plate-holder {
    background-color: #f885;
    border-radius: 25px;
    border: solid var(--background-color) 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px var(--shadow-color) inset, -5px -5px 5px var(--shadow-color) inset;
}
.dark-mode .plate-holder {
    background-color: #2028;
}

@media (max-width: 1200px) {
    .plate-holder {
        font-size: min(20px, 1.5cqw);
    }
}
@media (max-width: 800px) {
    .plate-holder {
        flex-direction: column;
        font-size: 15px;
    }
}

.plate-holder-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.text-plate-holder {
    flex: 2;
}
.image-plate-holder {
    flex: 1
}

.text-plate {
    background-color: var(--accent-color);
    padding: 5px 10px 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.image-plate {
    border: solid var(--accent-color) 10px;
    border-radius: 20px;
    margin: 10px;
}
.text-plate, .image-plate {
    box-shadow: 0 0 5px 5px var(--shadow-color);
}

/* === Miscellaneous === */

.selectable-image {
    transition: transform .2s;
    cursor: pointer;
}
.selectable-image:hover {
    transform: rotate(-15deg);
}

.centered-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin: 0;
}
