/* === Base styles === */

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin:0;
}

img {
    height: 100%;
}

/* === Colour scheme === */

body {
    --background-color: #fcc;
    --accent-color: #f99;
    --border-color: #d88;
    --button-hover-color: #fbb;
    --button-hover-border-color: #fdd;
    --foreground-color: #000;
}
body.dark-mode {
    --background-color: #404;
    --accent-color: #202;
    --border-color: #505;
    --button-hover-color: #313;
    --foreground-color: #dbd;
}

/* === Navigation bar === */

#nav-bar {
    width: 100%;
    height: 100px;
    position:relative;
    top: 0;
    background-color: var(--accent-color);
    border-bottom: var(--border-color) solid 5px;
}
#nav-bar > .nav-bar-entry {
    display: inline-block;
    height: 100%;
}
#nav-bar img {
    user-select: none;
}

#dark-mode-button {
    position: absolute;
    right: 0;
}

#nav-options {
    position: absolute;
    width: calc(100% - 200px);
    margin-left: 100px;
    padding: 0;
}
#nav-options > .nav-option {
    display: inline-block;
    width: 25%;
    height: 100%;
    transition: background-color .1s;
    text-align: center;
    
    > .nav-option-label {
        margin: 25px auto;
        user-select: none;
        font-size: min(40px, 3vw);
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
}
#nav-options > .nav-option:hover {
    background-color: var(--button-hover-color);
    border-bottom: var(--button-hover-border-color) solid 5px;

    > .nav-option-label {
        transition: .1s;
        transform: rotate(-3deg) scale(1.1);
        pointer-events: none;
    }
}
@media (max-width: 800px) {
    #nav-bar {
        height: 50px
    }
    #nav-options {
        width: calc(100% - 100px);
        margin-left: 50px;
        > .nav-option > .nav-option-label {
            margin: 15px auto;
        }
    }
}

/* === Miscellaneous === */

.selectable-image {
    transition: transform .2s;
}
.selectable-image:hover {
    transform: rotate(-15deg);
}