<script>$("head").append($("<link>").attr("rel", "stylesheet").attr("href", "css/nav-bar.css"))</script>
<div id="nav-bar">
    <div id="nav-options" class="nav-bar-entry">
        <a href="index.html"><div class="nav-option">
            <p class="centered-absolute nav-option-label">About&nbsp;me</p>
        </div></a><a href="projects.html"><div class="nav-option">
            <p class="centered-absolute nav-option-label">Projects</p>
        </div></a><a href="resume.html"><div class="nav-option">
            <p class="centered-absolute nav-option-label">Resume</p>
        </div></a><a href="other%20sites.html"><div class="nav-option">
            <p class="centered-absolute nav-option-label">Other sites</p>
        </div></a>
    </div>
    <div class="nav-bar-entry"><a href="index.html"><img class="selectable-image" id="logo" src="img/Kuro dice.png" alt="A purple die with my face on three of its sides"></a></div>
    <div id="dark-mode-button" class="nav-bar-entry"><img class="selectable-image" alt="A medal with my face on it" src="../img/Dark%20mode.svg" onclick="toggleDarkMode()"></img>
</div>