<script>$("head").append($("<link>").attr("rel", "stylesheet").attr("href", "css/nav-bar.css"))</script>
<div id="nav-bar">
    <div id="nav-options" class="nav-bar-entry">
        <div class="nav-option">
            <p class="centered-absolute nav-option-label">About&nbsp;me</p>
        </div><div class="nav-option">
            <p class="centered-absolute nav-option-label">Projects</p>
        </div><div class="nav-option">
            <p class="centered-absolute nav-option-label">Resume</p>
        </div><div class="nav-option">
            <p class="centered-absolute nav-option-label">SVGs</p>
        </div>
    </div>
    <div class="nav-bar-entry"><a href="index.html"><img class="selectable-image" id="logo" src="img/Kuro dice.png" alt="A purple die with my face on three of its sides"></a></div>
    <div id="dark-mode-button" class="nav-bar-entry"><img class="selectable-image" src="img/Kuro Award for Excellency in Meganoic Congular.png" alt="A medal with my face on it" onclick="toggleDarkMode()"></div>
</div>